   <div class="col-sm-3 logo"><a href="/"><img src="/assets/logo.png" alt=""/></a></div>
   <div class="col-sm-6 nav">
    <!-- <ul>
       <li> <span class="simptip-position-bottom simptip-movable" data-tooltip="comic"><a href="movie.html"> </a></span></li>
       <li><span class="simptip-position-bottom simptip-movable" data-tooltip="movie"><a href="movie.html"> </a> </span></li>
       <li><span class="simptip-position-bottom simptip-movable" data-tooltip="video"><a href="movie.html"> </a></span></li>
       <li><span class="simptip-position-bottom simptip-movable" data-tooltip="game"><a href="movie.html"> </a></span></li>
       <li><span class="simptip-position-bottom simptip-movable" data-tooltip="tv"><a href="movie.html"> </a></span></li>
       <li><span class="simptip-position-bottom simptip-movable" data-tooltip="more"><a href="movie.html"> </a></span></li>
    </ul> -->
   </div>
   <div class="col-sm-3 header_right">
    <!-- <ul class="header_right_box">
       <li><img src="/assets/p1.png" alt=""/></li>
       <li>
          <p><a href="login.html">Carol Varois</a></p>
       </li>
       <li class="last"><i class="edit"> </i></li>
       <div class="clearfix"> </div>
    </ul> -->
   	</div>
   <div class="clearfix"> </div>