<div class="search">
	<form action="/movie/search">
		<input type="text" name="q" value="Search..." onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
		<input type="submit" value="">
	</form>
</div>
<div class="clearfix"> </div>