<div class="col-md-12<%= ' row_5' if index == 1 %>">
	<a href="<%=movie.facebook_commenter_url%>" target="_blank">
		<div class="grid_2">
			<img src="<%=movie.poster_url%>" class="img-responsive" alt="" />
		</div>
	</a>
</div>