<div class="col-md-6 grid_5">
	<a href="<%=movie.facebook_commenter_url%>">
		<div class="grid_2">
			<img src="<%=movie.poster_url%>" class="img-responsive" alt="" />
			<div class="caption1">
				<ul class="list_5">
					<li><i class="icon5"> </i>
						<p>3,548</p>
					</li>
				</ul>
				<i class="icon4 icon6"> </i>
				<p class="m_3"><%=movie.name%></p>
			</div>
		</div>
	</a>
</div>