<a href="<%=movie.facebook_commenter_url%>">
 	<div class="grid_2 col_1">
		<img src="<%=movie.cover_photo%>" class="img-responsive" alt=""/>
		<div class="caption1">
    	<p class="m_3"><%=movie.name%></p>
		</div>
  </div>
</a>