<a href="<%=movie.facebook_commenter_url%>">
  <div class="grid_2">
		<img src="<%=movie.poster.url(:medium)%>" class="img-responsive" alt=""/>
		<div class="caption1">
    	<p class="m_3"><%=movie.name%></p>
		</div>
  </div>
</a>