<div class="m_7 col_1">
	<a href="<%=movie.facebook_commenter_url%>" target="_blank">
		<div class="grid_2">
			<img src="<%=movie.poster_url%>" class="img-responsive" alt="" />
		</div>
	</a>
</div>
<div class="caption1">
	<ul class="list_5">
		<li><i class="icon5"> </i>
			<p>3,548</p>
		</li>
	</ul>
	<i class="icon4 icon6"> </i>
	<p class="m_3"><%=movie.name%></p>
</div>