<div class="m_7 col_1">
	<a href="<%=movie.facebook_commenter_url%>"><img src="<%=movie.poster.url(:thumb)%>" class="img-responsive" alt="" /></a>
</div>
<div class="caption1">
	<ul class="list_5">
		<li><i class="icon5"> </i>
			<p>3,548</p>
		</li>
	</ul>
	<i class="icon4 icon6"> </i>
	<p class="m_3">Guardians of the Galaxy</p>
</div>