<a href="<%=movie.facebook_commenter_url%>" target="_blank">
 	<div class="grid_2 col_1">
		<img src="<%=movie.poster_url%>" class="img-responsive" alt=""/>
		<div class="caption1">
    	<p class="m_3"><%=movie.name%></p>
		</div>
  </div>
</a>