<div class="mdl-card mdl-shadow--2dp employer-form" action="#">
  <div class="mdl-card__title" style="height: 266px; background: url('<%= @movie.cover_photo('670x266') %>') center / cover">
  </div>
  <div class="mdl-card__title" style="height: 100px;">
    <h2><%= @movie.name %></h2>
    <div class="mdl-card__subtitle"><%= @movie.tagline %></div>
  </div>

  <div class="mdl-card__supporting-text">
  	<%= render "form", movie: @movie %>
  </div>
</div>