    <div class="mdl-layout__drawer">
        <header><a href="/">MovieStore</a></header>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link<%=' mdl-navigation__link--current' if params['controller'] == 'admin/dashboard' && params['action'] == 'index' %>" href="/admin">
                <i class="material-icons" role="presentation">dashboard</i>
                Dashboard
            </a>

            <a class="mdl-navigation__link<%=' mdl-navigation__link--current' if params['controller'] == 'admin/movies' && params['action'] == 'index' %>" href="/admin/movies">
                <i class="material-icons" role="presentation">person</i>
                Movies
            </a>

            <a class="mdl-navigation__link" href="#">
                <i class="material-icons" role="presentation">person</i>
                Users
            </a>

            <a class="mdl-navigation__link" href="#">
                <i class="material-icons" role="presentation">person</i>
                Home Page
            </a>

            <div class="mdl-layout-spacer"></div>
            <a class="mdl-navigation__link" href="https://github.com/CreativeIT/getmdl-dashboard">
                <i class="material-icons" role="presentation">link</i>
                GitHub
            </a>
        </nav>
    </div>